form.entry-form input {
    width: auto;
}

form.entry-form input[type=text], form.entry-form input[type=email], form.entry-form input[type=url], form.entry-form textarea {
	width:20em;
}

form.entry-form textarea {
     height: 6em;
     width: 30em;
}

form.entry-form input[type=radio]{
	margin-left:2em;
}

form.entry-form label {
    display: inline-block;
    width: 8em;
    font-weight: bold;
    vertical-align: top;
}


form.entry-form select {
   font-size: 0.8em;
}


form.entry-form .wider{
    width: 30em;
}

form.entry-form input + label   {
    width: auto;
}

form.entry-form .input-group{
	margin: 0.5em 0 0 0;
}

form.entry-form select {
    width: 3.5em;
} 

form.entry-form select.wider {
    width: 5em;   
}


form.entry-form .information {
    color: #FF4719;
}

#response_message  > div {
     border: solid 1px #990000;
     padding: 0.5em;
     color: #990000;
}

form.contact-form .error {
    color: #990000;
}

form.entry-form .command{
    margin-top: 1em;
}

form.entry-form label.narrow {
    width: 3.5em;
    margin-right: 1em;
}

form.entry-form input.narrow , form.entry-form span.input-stuff{
    display: inline-block;
    width: 5em;
    font-size: 0.8em;
    padding: 0;
    height: auto;
    margin-right: 0.2em;
}

form.entry-form #channels input + label  {
     margin: 0 1.6em 0 0.1em;
}

form.entry-form .wide_title_caption {
     display: block;
     width: auto;
}

form.entry-form #channels ul {
    list-style:  none;
    margin-left: 1em;
}

form.entry-form #channels, form.entry-form  #bookings {
   margin-top : 2em;
}

#extrademands input {
    
}

#extrademands input + label {
     margin: 0 1.6em 0 0.1em;
}

#ef-extrademand-otherinput {
    font-size: 0.8em;
    height: auto;
    padding: 0.1em;
}